<footer class="page-footer center">

  <div class="container">
    <div class="row">
      <div class="col l4 offset-l2 s12 center">
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">contacto@portalbeneficios.cl</a></li>
          <br>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>