<footer class="page-footer center">

  <div class="container">
    <div class="row">
      <div class="col l4 offset-l2 s12 center">
        <ul>
          <li><a class="grey-text text-lighten-3" href="mailto:soporte@portalbeneficios.cl">soporte@portalbeneficios.cl</a></li>
          <br>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/portalbeneficios/?fref=ts" target="_blank">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/P_Beneficios" target="_blank">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/portalbeneficios/" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>