<div id="newsletter" class="modal indigo darken-4">
  <div class="modal-content">
  	<%= image_tag @newsletter.n_contrato.img, :width => "100%" %>  
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-light btn"><i class="material-icons left">clear</i>Cerrar</a>
  </div>
</div>