<div id="newsletter" class="modal">
  <div class="modal-content">
  	<%= image_tag @newsletter.institucion.find(params[:id]).img.url %> 
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-light btn"><i class="material-icons left">clear</i>Cerrar</a>
  </div>
</div>