<br>
<div class="row">
  <% @estandars.each do |estandar| %>
      <div class="col s6 center">
        <%= link_to estandar do %>
          <img src="<%= estandar.caluga.url(:large).order("created_at DESC") %>" alt="" class="responsive-img">
        <% end %>
      </div>
    <% end %>
</div>
