footer {
  margin-bottom: -3em;
}

#dropdown1 a {
  font-size: 0.9em;
}

#mi_credencial {
	color: white;
}



.fondo {
  background: url('pb_2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fondo-lgg {
  padding: 500px 0px;
}